/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav1 h1 {
      margin-left: 150px;
      margin-top: 10px;
    }
  
    .nav1 .cal {
      margin-top: 0;
      margin-left: 30px;
    }

  
    .table,
    .table-header,
    .table-row,
    .table-data,
    .header__item {
      margin-left: 50px;
      margin-right: -20px;
      width: 600px;
    }
  }
  